div.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 88px);
}

div.form {
  display: grid;
  grid-template-columns: 70px 200px;
  grid-template-rows: 150px 80px 80px 30px;
  grid-template-areas: "title title" "lblUsername frmUsername" "lblPassword frmPassword" "rm rm";
  align-items: center;
}

div.rm {
  grid-area: rm;
  align-self: end;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div.rm p {
  margin: 0 0 0 2.5px;
  padding: 0 !important;
  line-height: 30px;
}

div.title {
  grid-area: title;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  justify-self: center;
  align-self: center;
}

div.label {
  justify-self: end;
  margin-right: 10px;
}

div.input {
  justify-self: start;
}

div.label.username {
  grid-area: lblUsername;
}

div.label.password {
  grid-area: lblPassword;
}

div.input.username {
  grid-area: frmUsername;
}

div.input.password {
  grid-area: frmPassword;
}

button {
  width: 350px;
  height: 38px;
  border-radius: 0.25rem;
}

div.alert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 120px;
  right: 60px;
  background-color: rgb(189, 20, 99);
}

div.alert-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}
div.close {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 20px;
  font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -20px;
  margin-right: -30px;
}
div.alert * {
  color: white;
}
