
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div *ngIf="user">
  <h1>User Profile</h1>

  <img src='https://www.w3schools.com/howto/img_avatar.png' width="250" height="250">
  
  <h2>{{user.name}}</h2>
<div class= "contain">
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <label class="input-field">{{user.name}}</label>
  </div>


  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <label class="input-field">{{user.email}}</label>
  </div>

</div>

  
  <button  class = "btn" routerLink="/user-edit">Edit</button>
  <!--button (click)="save()">save</button-->

</div>