<div *ngIf="isLoading" class="isloading">Loading Groups</div>
<div *ngIf="!isLoading" class="content">
  <a
    [routerLink]="['/group-form']"
    class="btn btn-primary btn-sm m-2"
    role="button"
    >Add new group...</a
  >

  <ul class="groups">
    <li
      *ngFor="let group of groups"
      [class.selected]="group === selectedGroup"
      (click)="onSelect(group)"
    >
      <span class="badge">{{ group.id }}</span> {{ group.name }}
    </li>
  </ul>

  <app-add-group [group]="selectedGroup"></app-add-group>
</div>
