  <!-- Required meta tags -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="app.component.css">
</head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
    <img src="https://i.ibb.co/drNh8vP/Letter-P-logo-to-business-or-technology-Graphics-4517420-1-1-580x387-removebg-preview.png"  width="30" height="30" class="d-inline-block align-top" alt="">
   <h6> Propinquity </h6>
  </a>


    <form class="form-inline  ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    
  </button>
  
  <a href="/search" class="btn btn-primary pad" role="button">🔍</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mr-auto"></div>
      <ul class="navbar-nav my-2 my-lg-0">
      
      <li class="nav-item active">
        <a href="/poster" class="btn btn-primary" role="button">What's on your mind?</a>
      </li>
<li class="nav-item active">
        <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
      </li>
      
<li class="nav-item active">
        <a class="nav-link" href="/groups">All Groups <span class="sr-only">(current)</span></a>
      </li>
      

      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/groups" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">Dropdown header</h6>
            <a class="dropdown-item" href="/groups">Action</a>
            <a class="dropdown-item" href="/group-form">Another action</a>
          </div>

        </li>

      </ul>

      </div>
  </nav>
  
<router-outlet></router-outlet>
