div.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 88px);
}

div.form {
    display: grid;
    grid-template-columns: max-content 200px;
    grid-template-rows: 150px 80px 80px 80px;
    grid-template-areas: "title title" "lblUsername frmUsername" "lblEmail frmEmail" "lblPassword frmPassword" ;
    align-items: center;
}

div.title {
    grid-area: title;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    justify-self: center;
    align-self: center;
}

div.label {
    justify-self: end;
    margin-right: 10px;
}

div.input {
    justify-self: start;
}

div.label.username {
    grid-area: lblUsername;
}

div.label.email {
    grid-area: lblEmail;
}

div.label.password {
    grid-area: lblPassword;
}

div.input.username {
    grid-area: frmUsername;
}

div.input.password {
    grid-area: frmPassword;
}

div.input.email {
    grid-area: frmEmail;
}

button {
    width: 350px;
    height: 38px;
    border-radius: 0.25rem;
}